@model IEnumerable<DoctorLink.Models.Medication>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Medications</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th width="15%">
                @Html.DisplayNameFor(model => model.DrugName)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Dose)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.MedicationDescription)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.UsageDescription)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.NumberOfScans)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsageDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfScans)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationId">Delete</a>
                    @*<a asp-action="Details" asp-route-id="@item.MedicationId">Details</a>*@
            </td>
            <td>
                    <form action="@Url.Action("GenerateQRCode", "Medications", new { id = item.MedicationId })" method="get" target="_blank">
                        <button type="submit">Generate QR Code</button>
                    </form>
                    <a href="@Url.Action("GenerateQRCode", "Medications", new { id = item.MedicationId })" download>Download File</a>
            </td>
        </tr>
}
    </tbody>
</table>
